[Unit]
Description=Op Support Service
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/npm start --prefix=/root/op_support
Restart=always

[Install]
WantedBy=multi-user.target
